/*

======================================================================== 
*/


body {color:rgb(95,95,95);background:rgb(212, 208, 200);font-size:12px;font-family:roboto,arial,helvetica,sans-serif;
}
#header-container {
    background: url("background-header.png") repeat-x scroll 0 0 transparent;
    height: 96px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    box-shadow: 0 8px 10px -6px #2A2A2A;
    -webkit-box-shadow: 0 8px 10px -6px #2A2A2A;
	   -moz-box-shadow: 0 8px 10px -6px #2A2A2A;
}

.header-over {
    background: url("header_bg.png") no-repeat scroll 0 0 transparent;
    height: 96px;
    position: fixed;
    width: 100%;
    z-index: -1;    
}

html,body {
    height: 100%;
}
form {
	margin: 0;
	padding: 0;
}

input, textarea {
 	font-size: 11px;
	margin: 0px;
  	font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
a:link {
	color: #4A4730;
	text-decoration: none;
}
a:visited {
	color: #4A4730;
	text-decoration: none;
}
a:hover {
	color: #4A4730;
	text-decoration: underline;
}
.clear {
	clear: both;
	height: 0;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}

/*.head2{position:fixed;top:0;width:100%;height:30px;z-index:2}
.head3{position:fixed;top:0;width:100%;height:30px;background:#022a3b;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);filter:alpha(opacity=90);-moz-opacity:.9;-khtml-opacity:.9;opacity:.9;z-index:2}
.head3 p{padding-left:30px; margin: 10px 0 0 0; color:#fff000;text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;}
*/

.header_box .left, .header_box .right {
	width: 14px;
	height: 58px;
	background: url('sprite.png') no-repeat;
}
.header_box .left {
	float: left;
	background-position: -49px -128px;
}
.header_box .right {
	float: left;
	background-position: -63px -128px;
}
.header_box .mid {
	float: left;
	height: 48px;
	background: url('header_box_bg.png') repeat-x;
	padding: 5px 0;
}
/* member box */
.header_box.member {
	float: left;
}
.header_box.member .mid {
	width: 265px;
	line-height: 23px;
}
.header_box.member .mid .avatar {
	float: left;
	width: 34px;
	height: 34px;
	padding: 6px;
	background: url('sprite.png') no-repeat 0 -128px;
}

.header_box.menu .mid ul > li > a:hover {
	cursor: hand;
	cursor: pointer;
}
.header_box.menu .mid ul > li > a:hover > span {
	background-position: 0 -68px;
}
.header_box.menu .mid > ul > li > a:hover > i {
	background-position: -111px -68px;
}
.header_box.menu .mid > ul > li > ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;

    background-color: #00468E;
    border: 4px solid #1A416A;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 5px 5px 5px #000000;
    font-weight: bold;
    position: absolute;
    width: 160px;
    z-index: 1000;
	top: 35px;
	left: 0;
}
.header_box.menu .mid > ul > li > ul > li {
	height: 25px;
	background: url('menu_splitter.png') repeat-x bottom left;
	padding: 0 5px;
}
.header_box.menu .mid > ul > li > ul > li > a {
	line-height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	background: url('bullet_inactive.png') no-repeat center left;
	padding-left: 15px;
}
.header_box.menu .mid > ul > li > ul > li > a:hover {
	color: #ffd600;
}
.header_box.menu .mid > ul > li > ul > li.current > a {
	color: #ffd600;
	background: url('bullet_active.png') no-repeat center left;
}
.header_box.menu .mid > ul > li:hover > ul {
	display: block;
}
.header_box.menu .mid ul > li:hover > a > span {
	background-position: 0 -68px;
}
.header_box.menu .mid > ul > li:hover > a > i {
	background-position: -111px -68px;
}
/* search box */


/* games list */
.games_wrapper .games_list {
	display: block;
	margin: 0 25px 10px 25px;
}
ul.games_list{
	margin: 0 20px 10px 20px;
}
ul.games_list.dark li {
	margin: 0 1px 10px 2px;
}
ul.games_list.dark li a .border {
	background: url('dark_thumbs_bg.png') no-repeat 1px 1px;
}
ul.games_list .btn_download {
	text-align: center;
	font-weight:bold;
	padding: 0;
	margin-left: 8px;
	margin-top: 2px;
	background: url('download_btn.png') no-repeat;
	width: 75px;
	height: 22px;
	line-height: 22px;
	color: #000;
	text-decoration: none;
	font-size:10px;
	text-transform: uppercase;
}
ul.games_list .btn_download:hover {
	color: #C40000;
}
ul.games_list {
	margin: 0;
	padding: 0;
	list-style: none;	
}
ul.games_list li {
	float: left;
}
ul.games_list li a {
	width: 120px;
	height: 120px;
	display: block;
	position: relative;
	padding: 8px;
}
ul.games_list li a img {
	width: 120px;
	height: 120px;
	border: none;
}

ul.games_list li a .border {
	width: 135px;
	height: 135px;
	position: absolute;
	left: 0;
	top: 0;
	background: url('sprite.png') no-repeat -404px 1px;
}
ul.games_list li a:hover {
	cursor: hand;
	cursor: pointer;
}	

/* small games list */
ul.small_games_list {
	margin: 0;
	padding: 0;
	list-style: none;	
}
ul.small_games_list li {
	float: left;
	margin: 8px 1px 0px 5px;
}
ul.small_games_list li a {
	width: 65px;
	height: 65px;
	display: block;
	position: relative;
}
ul.small_games_list li a img {
	width: 60px;
	height: 60px;
	border: none;
}

ul.small_games_list li a:hover {
	cursor: hand;
	cursor: pointer;
}	
.des {
	border: 1px solid #0269b2;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
}
.des .border {
	float:left; padding-left:50px;
	color:#fff;
}
/* ads box */
.ads728x90 {
	width: 748px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #04397d;
	border: 2px solid #002554;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.ads728x90 .border {
	border: 1px solid #0269b2;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div.box{
	width:120px;
	height:120px;
	margin:5px;
	border:1px solid #498dd1;
	border-top:1px solid #84bffa;
	border-bottom:1px solid #6eaae6;
	border-radius:8px;
	box-shadow:1px 1px 2px #0c3054;
	-webkit-box-shadow:1px 1px 2px #0c3054;
	-moz-box-shadow:1px 1px 2px #0c3054;
	background-image: linear-gradient(bottom, rgb(98,160,222) 0%, rgb(28,72,117) 53%, rgb(86,150,214) 100%);
	background-image: -o-linear-gradient(bottom, rgb(98,160,222) 0%, rgb(28,72,117) 53%, rgb(86,150,214) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(98,160,222) 0%, rgb(28,72,117) 53%, rgb(86,150,214) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(98,160,222) 0%, rgb(28,72,117) 53%, rgb(86,150,214) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(98,160,222) 0%, rgb(28,72,117) 53%, rgb(86,150,214) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(98,160,222)),
		color-stop(0.53, rgb(28,72,117)),
		color-stop(1, rgb(86,150,214))
	);
	float:left;
	cursor:pointer;
	position:relative;
	overflow:hidden}
div.box li {
	float: left;
}
div.box li a{
	position:absolute;
	left:3px;top:3px;bottom:3px;right:3px;
	color:#CCC;
	font-size:11px;
	line-height:10px;
	text-align:justify;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;}
div.box li a img{
	width:100%;
	height:100%;
	border-radius:4px}		
div.box:hover{
	background-image: linear-gradient(bottom, rgb(117,176,235) 0%, rgb(28,72,117) 53%, rgb(120,182,240) 100%);
	background-image: -o-linear-gradient(bottom, rgb(117,176,235) 0%, rgb(28,72,117) 53%, rgb(120,182,240) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(117,176,235) 0%, rgb(28,72,117) 53%, rgb(120,182,240) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,176,235) 0%, rgb(28,72,117) 53%, rgb(120,182,240) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(117,176,235) 0%, rgb(28,72,117) 53%, rgb(120,182,240) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(117,176,235)),
		color-stop(0.53, rgb(28,72,117)),
		color-stop(1, rgb(120,182,240))
	)}
/* bottom nav */
#bottom_nav {
	padding: 10px;
	padding-top: 5px;
	width: 960px;
	margin: 0 auto;
}

/* like buttons */
.social_buttons {
	float: left;
	width: 260px;
	height: 22px;
	margin-top: 20px;
}

/* main nav */

.main_nav .home:hover {
	background-position: -222px -4px;
}
.main_nav span {
	float: left;
	text-align: center;
	width: 105px;
}
.main_nav .left, .main_nav .right {
	width: 163px;
	line-height: 40px;
}
.main_nav .left {
	float: left;
	padding-right: 37px;
	padding-left: 20px;
}


.main_nav .left {
	text-align: left;
	font-weight: bold;
}
.main_nav .left .prev {
	float: right;
	margin-left: 2px;
}
.main_nav .left .prev:hover {
	background-position: -147px -124px;
}

.main_nav .right {
	text-align: center;
	font-weight: bold;
}
.main_nav .right .next {
	float: left;
	background-position: -204px -90px;
	margin-right: 2px;
}
.main_nav .right .next:hover {
	background-position: -204px -124px;
}

.main_nav .right {
	float: right;
	padding-left: 37px;
	padding-right: 20px;
}

/* sub nav */

ul.sub_nav {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 18px;
}

ul.sub_nav li {
	float: left;
}

ul.sub_nav li a {
	display: block;
	width: 37px;
	height: 37px;
	background: url('nav_buttons.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}
ul.sub_nav li.developer a {
	background-position: -93px -1px;
}
ul.sub_nav li.developer a:hover {
	background-position: -93px -42px;
}

ul.sub_nav li.hiring a {
	background-position: -216px -1px;
}
ul.sub_nav li.hiring a:hover {
	background-position: -216px -42px;
}

ul.sub_nav li.privacy a {
	background-position: -9px -1px;
}
ul.sub_nav li.privacy a:hover {
	background-position: -9px -42px;
}


ul.sub_nav li.free_games a {
	background-position: -51px -1px;
}
ul.sub_nav li.free_games a:hover {
	background-position: -51px -42px;
}

ul.sub_nav li.contact a {
	background-position: -135px -1px;
}
ul.sub_nav li.contact a:hover {
	background-position: -135px -42px;
}

ul.sub_nav li.rss a {
	background-position: -175px -1px;
}
ul.sub_nav li.rss a:hover {
	background-position: -175px -42px;
}
/* loading screen */
#loadingOverlay {
	width: 100%; 
	height: 100%; 
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999; 
	background: url('dark_bg.png');
	display: none;
}
#loadingIcon {
	width: 100%; 
	height: 100%;
	background: url('loading_bar.gif') no-repeat center center;
}
/* content box */
.content_wrapper {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.box_header {
	height: 40px;
	background: url('box_stuff.png') no-repeat 0 0;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}
.box_footer {
	background: url('box_stuff.png') no-repeat 0 -40px;
	height: 15px;
}
.box_content {
	background: url('box_bg.png') repeat-y;
	padding: 5px 15px;
	color: #fff;
}
.box_content_inside {
	height: 200px;
	line-height: 20px;
	font-size: 12px;
	overflow-y: auto;
}
.box_content input[type='text'], .box_content input[type='password'] {
	padding: 0 10px;
	margin: 5px 0;
	width: 200px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	background: url('input_bg.png') repeat-x;
	border: 1px solid #003e90;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box_content textarea {
	padding: 10px;
	margin: 5px 0;
	width: 200px;
	height: 24px;
	color: #fff;
	background: #002a64 url('input_bg.png') repeat-x;
	border: 1px solid #003e90;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box_content input[type='submit'], .box_content input[type='button'], .box_content input[type='reset'] {
	margin: 5px 0;
	height: 21px;
	line-height: 15px;
	color: #fff;
	font-size: 11px;
	background: url('button_bg.png') repeat-x;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #00285c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box_content input[type='submit']:hover, .box_content input[type='button']:hover {
	background: url('button_hover_bg.png') repeat-x;
}
.fav_button a {
	display: block;
	text-align: center;
	margin-top: 10px;
	height: 18px;
	line-height: 17px;
	color: #fff;
	font-size: 11px;
	background: url('button_bg.png') repeat-x;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #00285c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fav_button a:hover {
	background: url('button_hover_bg.png') repeat-x;
	text-decoration: none;
}
.main_content{

	width:1020px; 
	margin:0 auto;
	text-align:center;
	
}
/* game play */
.game_play_wrapper {
	padding: 0 10px;
	width: 1000px;
	margin: 0 auto;
	float: left;
}

#small_col {
	width: 163px;
	float: left;
	padding-right: 10px;
}
.small_box {
	margin-bottom: 10px;
}
.small_box_header {
	height: 54px;
	width: 163px;
	background: url('small_box_stuff.png') no-repeat;
	line-height: 54px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.small_box_content {
	width: 143px;
	background: url('small_box_bg.png') repeat-y;
	padding: 5px 10px;
	color: #fff;
}
.small_box_bottom {
	width: 163px;
	height: 18px;
	background: url('small_box_stuff.png') no-repeat 0 -54px;
}

/* game_area */
.blue_box {
	background: #04397d;
	border: 2px solid #002554;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.blue_box .border {
	border: 1px solid #0269b2;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

h2.game_name {
	margin: 0;
	padding: 10px 0;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;

}


/* NEWS */
.news_wrapper {
	margin-bottom: 15px;
}
.news_header {
	background:#002a64;
	border:1px solid #003e90;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin: 15px 0px;
	overflow:auto;
	color: #9fb6cd;
	padding: 5px;
}
.news_image {
	float: left;
	padding:5px;
	text-align: center;
	border: 1px solid #4a5260;
	background:#1c222a;
	margin-right:15px;
}
.news_title {
	float: left;
	font-size: 2em;
	padding-top: 8px;
}
.news_title a {
	color:#fff;
	text-decoration: none;
}
.news_title a:hover {
	text-decoration: underline;
}
.news_author {
	font-size: 14px;
}
.news_main {
	padding: 0px 10px 0px 10px;
	margin-bottom: 25px;
	color:#ccc;
}

/* PROFILE */
.profile_container {
	background:#002a64;
	border:1px solid #003e90;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin-bottom: 15px;
	overflow:auto;
	color: #fff;
}
.profile_container a {
	color: #fff;
}
.profile_header_avatar {
	width:80px;
	height: 87px;
	float: left;
	padding-left: 20px;
	padding-top: 12px;
}
.profile_header_info {
	width: 650px;
	height: 75px;
	float: left;
	padding-top: 25px;
	padding-left: 5px;
}
.profile_header_buttons {
	float: right;
	width: 173px;
	height: 97px;
	padding-left: 20px;
	padding-top: 3px;
}
.profile_username {
	font-size: 25px;
	padding: 0px;
	float: left;
}
.profile_points {
	float: left;
	background:#008ae3;
	margin-left: 10px;
	color: #fff;
	margin-top: 8px;
	padding: 0px 5px 0px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.small_points {
	font-size: 10px;
	text-transform: uppercase;
}
.profile_stats {
	font-size: 14px;
}
.profile_button a {
	margin: 10px 15px 0px 0px;
	padding:0 20px;
	line-height: 24px;
	float: right;
	font-size: 13px;
	display: block;
	color: #dfdfdf;
	text-decoration: none;
	background: #0074a5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	width: 100px;
	text-align: center;
}
.profile_button a:hover {
	display: block;
	background: #008ae3;
}
.profile_button a:hover {
	display: block;
}
.profile_column1 {
	margin-right: 12px;
	width: 70%;
	float: left;
}
.profile_column2 {
	font-size: 14px;
	margin-bottom: 20px;
}
.user_info {
	padding: 10px;
	overflow: hidden;
	background:#002a64;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-border-bottom-right-radius:5px;
	-border-bottom-left-radius:5px;
}
.user_info a {
	font-size: 14px;
}
.user_info a:hover {
	color: #e2e2e2;
}
.right_title {
	color: #8a8a8a;
}
.profile_content_item {
	margin-bottom: 15px;
}
.fav_container {
	padding: 20px;
}
.profile_comment {
	line-height: 150%;
	margin-bottom:15px;
	padding: 10px;
	overflow:hidden;
	background: #002a64;
	border: 1px solid #222;
}
.profile_left_header {
	font-size:16px;
	font-weight:bold;
	background:#008ae3;
	padding:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	margin-bottom: 5px;
}
.profile_right_container .module_header {
	padding:6px;
	color: #fff;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	font-weight:bold;
	border-bottom: 1px solid #201f21;
	font-size: 13px;
	background: #0074bf;
}

/* EDIT PROFILE */

.edit_avatar_container {
	padding: 10px 0px 10px 10px;
	margin-bottom: 10px;
	overflow:auto;
	width:680px;
}
.edit_info_container {
	padding: 10px 0px 10px 10px;
}
.edit_profile_header {
	font-size: 20px;
	color: #fff;
}	
.edit_profile_lable {
	float:left;
	margin-right:10px;
	width:80px;
	font-size:12px;
	text-align:left;
}
.edit_profile_element {
	float: left;
}
.edit_avatar_element {
	float: left;
	padding-top: 3px;
}
.edit_profile_textbox {
	height: 20px;
	width: 500px;
	border: 1px solid #CCC;
	font-size: 15px;
	padding: 4px;
	background:#636a7a;
	border:1px solid #0b0e12;
	color:#fff;
}
.edit_profile_textarea {
	height: 60px;
	width: 500px;
	border: 1px solid #CCC;
	font-size: 15px;
	padding: 4px;
	background:#8eaac9;
	border:1px solid #0b0e12;
	color:#fff;
}

/* Private messages */
.pm_subject_textbox {
	height: 20px;
	width: 600px;
	font-size: 15px;
	padding: 4px;
	background:#636a7a;
	border:1px solid #0b0e12;	
	color: #fff;
}
.pm_message_textbox {
	height: 100px;
	width: 600px;
	font-size: 15px;
	padding: 4px;
	background:#8eaac9;
	border:1px solid #0b0e12;
	color: #fff;
}
.pm_header {
	background:#002a64;
	border:1px solid #003e90;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:8px;
	color: #e2e2e2;
}
.pm_header a {
	color: #a4b6bd;
}
.pm_subject {
	font-size: 20px;
}
.pm_details {
}
.pm_message {
	padding: 15px;
}
.pm_footer {
	padding-top: 5px;
	background:#002a64;
	padding: 7px;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.pm_table td {
	border-bottom: 1px solid #16171A;
	background-color: #22252A;
	padding: 5px;
}
.pm_no_messages {
	text-align: center;
}
.unread_pm_link {
	font-weight: bold;
}
.read_pm_link {
	color: #767f8b;
	font-style: italic;
}

/* REQUIRED CSS STYLES */
.game_not_found {
	height: 170px;
	padding-top: 130px;
}
.game_not_found a {
	color: #b8cbd8;
}
#no_games {
	text-align: center;
	padding-top: 30px;
}
/* REQ:5 STAR RATING CSS */
#rateStatus{float:left; clear:both; width:100%; height:20px;}
    #rateMe{float:left; clear:both; width:100%; height:auto; padding:0px; margin:0px;}
    #rateMe li{float:left;list-style:none;}
    #rateMe li a:hover,
    #ratingSaved{display:none;}
    .saved{color:red; }

#comments ul {
	list-style: none;
	margin:0px;
	padding:0px;
}

#comments ul li {
	line-height: 150%;
	margin-bottom:15px;
	padding:5px 0px;
	overflow:hidden;
	border: 1px solid #222;
}
#error_message, #pm_task_complete {
	padding: 5px 5px 5px 10px;
	background-color: #002a60;
	margin-bottom: 10px;
	color: #fee400;
	font-weight: bold;
}
#member_list {
	width: 98%;
	margin-left: 8px;
}
#member_list td {
	border-bottom:1px solid #111111;
	height: 40px;
	padding:5px 0;
}
#member_list td a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
#member_list td a:hover {
	text-decoration: underline;
}
#member_list img {
	margin-top: 5px;
}
.link_item {
	padding:5px;
}
#login_to_comment {
	text-align: center;
	padding: 15px 0px 15px 0px;
}
/* END OF REQUIRED CSS STYLES */
/* Game page highscores */
.profile_right_container {
	float: right;
	width: 28%;
}
.game_highscore_list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}
.game_highscore_list  li {
	border: 1px solid #009afd;
	background: #047dcb;
	padding: 5px;
	margin-bottom: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.game_highscore_avatar {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	height: 50px;
}

.game_highscore_avatar img {
}
.game_highscore_scores {
	font-size: 12px;
	font-weight: bold;
}
.game_highscore_date {
	color: #fff;
	font-size: 10px;
	margin-top: 3px;
}
.game_no_highscores {
	
	text-align: center;
}
.game_highscore_pages {
	
	text-align: center;
}
.game_highscore_pages a {
	color: #505050;
}
#game_highscore_header {
	height: 35px;
}
#game_highscore_header .game_highscore_score, #game_highscore_header .game_highscore_date {
	font-weight: normal;
	color: #fff;
}
#game_highscore_header .game_highscore_name {
	padding-left: 0px;
}
.game_info_left {
	float: left;
	overflow: inherit;
	margin-top: 30px;
	width: 50%;
}
.game_highscores {
	float: right;
	overflow: inherit;
	margin-top: 40px;
	width: 47%;
	border-left: 1px solid #929292;
	padding-left: 10px;
}
.game_highscores_header {
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 18px;
	text-align: left;
	}
.highscore_title {
	line-height: 30px;
	text-align: center;
	margin-bottom: 5px;
}
/* Profile page highscores */
.user_highscore_list {
	list-style: none;
	
	font-size: 13px;
	padding: 2px;
	margin: 0px;
}
.user_highscore_container {
	height: 35px;
}
.user_highscore_avatar {
	float: left;
}
.user_highscore_name {
	float: left;
	padding: 7px 0px 1px 6px;
	width: 45%;
}
.user_highscore_score {
	float: right;
	padding-top: 7px;
	font-weight: bold;
	width: 15%;
	margin-right: 10px;
}
.user_no_highscores {
	
	text-align: center;
	padding: 20px 0px 20px 0px;
}
.user_highscore_pages a {
	color: #505050;
}
#user_highscore_header {
	height: 35px;
}
#user_highscore_header .user_highscore_score {
	font-weight: normal;
	color: #fff;
}
#user_highscore_header .user_highscore_name {
	padding-left: 0px;
	width: 41%;
}
.game_tooltip {
	color: #000;
	font-size: 11px;
}
.game_tooltip h1, .game_tooltip h2 {
	margin: 0;
	padding:0;
}

.game_tooltip h1 {
	font-size: 14px;
	color: #c40000;
}
.game_tooltip h2 {
	font-size: 11px;
}


#left_pagination a, #right_pagination a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 109px;
	height: 109px;
	background: url('arrows.png') no-repeat 0 0;
	position: absolute;
	top: 50%;
	margin-top: -54px;
}
#left_pagination a {
	left: 0px;
	margin-left: -119px;
}
#right_pagination a {
	right: 0px;
	background-position: -109px 0;
	margin-right: -119px;
}
#left_pagination a:hover {
	background-position: 0 -109px;
}
#right_pagination a:hover {
	background-position: -109px -109px;
}



.play_btn2 {
	width: 178px;
	height: 33px;
	padding: 10px;
	background: #fff url('play_btn2.png') no-repeat center center;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

.play_btn2:hover {
	background-color: #fdfd46;
}
.toptit{
float: left;
margin-left: 5px;
color: #fff;
font-size: 16px;
font-weight: bold;
}

ul.navigator {

    float: center;

    margin: 7px 0 7px 13px;

    padding: 2px 0;

}

ul.navigator li {

    display: inline;

    list-style-type: none;

    margin-right: 2px;

    padding: 0;

}

ul.navigator li a {

font-size:18px;
    color: #000;
	font-weight:bold;

    padding: 2px 3px;

    text-decoration: none;

}

ul.navigator li a:hover {

    color: #f00;
	font-weight:bold;

}

ul.navigator  li span {

    color: #f00;

    padding: 0 2px;

}
ul.navigator  li a.nav_selected {

    color: #f00;

    padding: 0 2px;

}


.green_box {
	background:rgb(212, 208, 200);
	border: 2px solid #C0BEAB;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.green_box .border {
	border: 1px solid #C0BEAB;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}